*{
    box-sizing: border-box;
}
.img{
    max-width: 100%;
}
body{
    background-color: black;
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: 'Roboto Condensed', sans-serif;
}
.container{
    width: 90%;
    max-width: 945px;
    margin: auto;
}
.section{
    padding-top: 64px;
    padding-bottom: 92px;
}
.section-title{
    margin: 10px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}
.hero{
    background: linear-gradient(0deg, rgb(241, 145, 0)  2%, rgb(255, 255, 255) 90%);
    padding-bottom: 155px;
    padding-top: 40px;
}
.h-header{
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-link{
    margin-left: 10px;
}
.h-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.h-subtitle{
    display: inline-block;
    font-size: 28px;
    line-height: 24px;
    color: rgb(0, 0, 0);
}
.h-title{
    color: rgb(255, 187, 0);
    -webkit-text-stroke: 3px rgb(156, 85, 3);
    font-size: 70px;
    line-height: 59px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}
.h-description{
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 28px;
    max-width: 420px;
    margin: 0;
}
.h-description2{
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 28px;
    max-width: 420px;
    margin-bottom: 38px;
    margin-top: 0;
}
.h-button{
    background: linear-gradient(180deg, rgb(255, 187, 0) 0%, rgb(156, 85, 3) 100%);
    box-shadow: 4px 4px 0px #b68500;
    border: none;
    border-radius: 10px 10px 10px 10px;
    padding: 24px 42px;
    color: rgb(0, 0, 0);
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.h-avatar{
    width: 700px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    background-image: url('../img/avatar.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    border: 5px solid rgb(156, 85, 3);
}


/*
Features
*/

.features{
    background-color: rgb(241, 145, 0);
}
.f-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.f-item{
    flex-basis: 50%;
    margin-bottom: 63px;

}
.f-title{
    color: white;
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 16px;
}
.f-image{
    display: block;
    margin-bottom: 16px;
}
.f-text{
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
}

/*
Project
*/

.projects{
    background: linear-gradient(180deg, rgb(241, 145, 0) 0%, rgb(0,0,0) 100%);
}
.p-image{
    border-radius: 20px;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;;
}
.p-slide{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.p-text{
    flex-basis: 60%;
    display: flex;
    flex-wrap: wrap;
}
.p-title{
    flex-basis: 100%;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 41px;
    width: 100%;
}
.p-time, .p-cost{
    flex-basis: 50%;
}
.p-time, .p-cost, .p-feedback{
    display: flex;
    align-items: flex-start;
}
.p-subtitle{
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 7px;
}
.p-paragraph{
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: justify;
}
.p-icon{
    margin-right: 16px;
}
.p-time, .p-cost{
    margin-bottom: 44px;
}
.p-bullet{
    width: 10px;
    height: 10px;
    border: 2px;
    border: 2px solid #ffbb01;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 44px;
}
.p-bullet-active{
    background-color: #ffbb01; 
}
.p-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

footer{
    background-color:black;
}




.contact-form{
    background: #fff;
    box-shadow: -5px 5px 0px #ffc41d;
    border-radius: 5px;
    max-width: 380px;
    padding-top: 40px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 49px;
}
.ft-title{
    margin:0;
    color:black;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 29px;
}
input{
    background: #ebebeb;
    box-shadow: insert 0px 3px 10px rgba(199,199,199,0.25);
    border-radius: 5px;
    padding: 18px;
    padding-left: 50px;
    width: 100%;
    border: none;
    font-size: 14px;
    line-height: 28px;
}
.input-name{
    margin-bottom: 17px;
    background-image: url(../img/contact.png) ;
    background-repeat: no-repeat;
    background-position: center left 20px;
}
.input-phone{
    margin-bottom: 17px;
    background-image: url(../img/phone.png);
    background-repeat: no-repeat;
    background-position: center left 20px;
}
.f-button{
    width: 100%;
}
.button{
    background: linear-gradient(180deg, rgb(255, 187, 0) 0%, rgb(156, 85, 3) 100%);
    box-shadow: 4px 4px 0px #b68500;
    border: none;
    border-radius: 10px 10px 10px 10px;
    padding: 24px 42px;
    color: rgb(0, 0, 0);
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.contact-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contacts-text{
    flex-basis: 50%;
}
.contacts-data{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 42px;
}
.contacts-phone, .contacts-mail{
    flex-basis: 50%;
    margin-bottom: 53px;
}
.contacts-social{
    justify-content: right;
}
.contacts-policy{
    display: inline-block;
    font-size: 15px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #a5a5a5;
    margin-top:72px;
}
.contacts-link{
    text-decoration: none;
    color: inherit;
    margin-right: 37px;
}
.contacts-link:hover{
    text-decoration: underline;
}